<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home.index')}}">SymfoLivres</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="bg-primary offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav w-100">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('home.index')}}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_livre_index')}}">Livres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_wishlist_index')}}">Souhaits</a>
                    </li>
                    <li class="nav-item me-auto">
                        <a class="nav-link" href="{{path('app_location_index')}}">Locations</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('admin')}}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <img width="40" height="40" class="rounded-circle" src="/assets/images/utilisateurs/{{app.user.imageName}}"
                                alt="Image de profil">
                            {{app.user.prenom}} {{app.user.nom}}</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{path('app_edit_user')}}">Modifier profil</a>
                            <a class="dropdown-item" href="{{path('app_edit_password')}}">Modifier mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item me-auto">
                        <a class="nav-link active" href="{{path('home.index')}}">Acceuil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">Utilisateur</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
                            <a class="dropdown-item" href="{{path('app_register')}}">S'enregistrer</a>
                        </div>
                    </li>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {# <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav w-100">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('home.index')}}">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_livre_index')}}">Livres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_wishlist_index')}}">Souhaits</a>
                </li>
                <li class="nav-item me-auto">
                    <a class="nav-link" href="{{path('app_location_index')}}">Locations</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('admin')}}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <img width="40" height="40" class="rounded-circle" src="/assets/images/utilisateurs/{{app.user.imageName}}" alt="Image de profil">
                        {{app.user.prenom}} {{app.user.nom}}</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{{path('app_edit_user')}}">Modifier profil</a>
                        <a class="dropdown-item" href="{{path('app_edit_password')}}">Modifier mot de passe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item me-auto">
                    <a class="nav-link active" href="{{path('home.index')}}">Acceuil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Utilisateur</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
                        <a class="dropdown-item" href="{{path('app_register')}}">S'enregistrer</a>
                    </div>
                </li>
                {% endif %}
                </li>
            </ul>
        </div> #}
    </div>
</nav>