{% extends 'base.html.twig' %}

{% block title %}Liste de souhaits{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Liste des souhaits</h1>
        {% for livre in livres | filter(livre=>app.user in livre.utilisateurs) %}
            <a href="{{ path('app_livre_show', {'id': livre.id}) }}" class="img-thumbnail livreCard card mb-3">
                <div class="row g-0 h-100">
                    <div class="col-md-3 h-100">
                        <img src="/assets/images/livres/{{ livre.imageName }}" class="img-thumbnail livreCouverture w-100 h-100" alt="Couverture du livre">
                    </div>
                    <div class="p-3 d-flex flex-column col-md-9">
                        <div class="card-header">
                            <h3 class="card-title">{{ livre.titre }}</h3>
                        </div>
                        <div class="my-2 card-body">
                            <p class="card-text">{{livre.resume}}</p>
                        </div>
                        <div class="mb-2 card-footer">
                            <p class="card-text text-body-secondary">{{livre.auteur}}</p>
                        </div>
                        {# {% if app.user in livre.utilisateurs %}
                            <button class="btn btn-primary">Déjà loué</button>
                        {% endif %} #}
                    </div>
                </div>
            </a>
        {% else %}
            <span>Votre liste de souhaits est vide.</span>
            <a class="btn btn-outline-dark" href="{{path('app_livre_index')}}">Voir la liste des livres</a>
        {% endfor %}
    </div>
{% endblock %}
